@font-face {
  font-family: 'Bebas Neue';
  src: url("/public/fonts/BebasNeue.otf") format("opentype");
}

body {
  background: #40464d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
